@import "../lib/reset";
@import "../lib/lib";

@mixin w-btn-wrapper($bgcolor,$fontcolor:#000000,$height:30px,$bordercolor:transparent) {
  @include bg-color($bgcolor);
  @include flex-display();
  color: $fontcolor;
  height: $height;
  text-align: center;
  @if $bordercolor {
    @include border($bordercolor);
  }

}

.w-btn-wrapper{
  @include w-btn-wrapper(#000000, #FFFFFF,50px);
  @include border-radius(6px);

  span {
    @include flex-item(1)
  }
  &:active{
    @include bg-img("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC");
    background-repeat: repeat-x;

  }
}

.normal-btn1{
  @extend .w-btn-wrapper;
  @include w-btn-wrapper(red, yellow,50px);
  @include border-radius(6px);
}
.normal-btn2{
  @extend .w-btn-wrapper;
  @include w-btn-wrapper(#ff7400, #FFF,50px);
  @include border-radius(6px);
}
.normal-btn3{
  @extend .w-btn-wrapper;
  @include w-btn-wrapper(#FFF, #ff5000,50px,#ccc);
  @include border-radius(6px);
  @include box-shadow-like-border();
}
.normal-btn4{
  @extend .w-btn-wrapper;
  @include w-btn-wrapper(rgba(47,34,33,.9), #FFF,50px);
  @include border-radius(6px);
}
.normal-btn5{
  @extend .w-btn-wrapper;
  @include w-btn-wrapper(#32508e, #FFF,50px);
  @include border-radius(6px);
}



.icon-btn1-left{
  @extend .normal-btn5;
  position: relative;
  &:before{
    content: 'f';
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    top: 5px;
    left: 10px;
  }
}
.icon-btn1-right{
  @extend .normal-btn5;
  position: relative;
  &:after{
    content: 'f';
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    top: 5px;
    right: 10px;
  }
}
.icon-btn1-top{
  @extend .normal-btn5;
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    text-align: center;
    @include bg-color(rgba(#32508e,0.5))
  }
}

.icon-btn1-bottom{
  @extend .normal-btn5;
  position: relative;
  overflow: hidden;
  font-size: 30px;
  &:before{
    content: '';
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:100%;
    height: 50%;
    text-align: center;
    @include bg-color(rgba(#32508e,0.9))
  }
}




